.about-content{
    padding-top: 100px;
    margin: 30px;
}
.about-content h4{
    color: white;
    letter-spacing: 3px;
    font-size:35px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.info p{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 1px;
}

.info{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.15);
    border-radius:20px;
    padding:15px;
    text-align:left;  
    padding: 15px;
    margin: 10px;
}